AddType application/javascript .js
AddType application/javascript .jsx
AddType text/css .css
AddType text/html .html

# Prevent GitHub Pages from processing with Jekyll
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
